<div class="col-lg-10 centered">
Indian cuisine encompasses a wide variety of regional cuisines native to India. Given the range of diversity in soil type, climate and occupations, these cuisines vary significantly from each other and use locally available spices, herbs, vegetables and fruits.
    Indian food is also heavily influenced by religious and cultural choices and traditions.
The development of these cuisines have been shaped by Dharmic beliefs, and in particular by vegetarianism, which is a growing dietary trend in Indian society.
    There has also been Central Asian influence on North Indian cuisine from the years of Mughal rule.
    Indian cuisine has been and is still evolving, as a result of the nation's cultural interactions with other societies.

</div>
<div class="col-lg-10 centered row spacer">
<img src="img/india.jpg">
</div>
